body {
  background: #353531;
  font-family: 'Markazi Text', serif;
  font-weight: 300;
  color: #7d7d7d;
  font-size: 20px;
  line-height: 1.6em;
  text-align: center;
}

.profile {
  width: 150px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 60%;
}

.container {
  width: 700px;
  margin: 30px auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}

.card2 {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

h1, h2, h3 {
  font-family: 'Markazi Text', serif;
  color: #DD5555;
  font-size: 24px;
}

li {
  display: inline-block;
  padding: 20px 40px;
  padding-left: 0px;
}

a:link {
  text-decoration: none;
  color: grey;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: green;
}

img {
  width: 160px;
  height: 220px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
